@using RestaurantList.Models;

<h1>To Do List Restaurant Details: </h1>

<h2>@Model["restaurant"].Name</h2>
<h3>Cuisine: @Model["cuisine"].Name</h3>

<form action="/cuisines/@Model["cuisine"].Id/restaurants/@Model["restaurant"].Id/delete" method="post">
  <button type="submit" name="button">Remove This Restaurant</button>
</form>

<a href='/cuisines/@Model["cuisine"].Id/restaurants/@Model["restaurant"].Id/edit'>Edit this Restaurant</a>
<a href='/cuisines/@Model["cuisine"].Id/restaurants/new'>Add another restaurant</a>
<a href='/cuisines'>View all cuisines</a>
